name: CI

on:
  push:
    branches:
      - main
    paths-ignore:
      - Docs/**
      - README.md
      - LICENSE
  pull_request:
    types: [opened, reopened, synchronize]
    paths-ignore:
      - Docs/**
      - README.md
      - LICENSE
  workflow_dispatch:

permissions:
  contents: read

jobs:
  soundness:
    name: Soundness
    uses: swiftlang/github-workflows/.github/workflows/soundness.yml@0.0.3
    with:
      license_header_check_enabled: false
      api_breakage_check_enabled: false